
body {
    font-family: Arial Black, Gadget, sans-serif;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../images/background.png");
}

.classification-result {
    background: rgba(255, 255, 255, 0.9);
}

.classification-recom {
    background: rgba(255, 255, 255, 0.9);
    margin-top: 50px;
}

.show-movie {
    background: rgba(255, 255, 255, 0.9);
    margin-top: 40px;
}

.main-search {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin-top: 40px;
    text-align: center;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchTermH {
  width: 25%;
  border: 3px solid #d9f1e3;
  background: #d9f1e3;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 18px 0 0 18px;
  outline: none;
  color: #00ad5f;
}

.searchTermImg {
    width: 30px;
    height: 36px;
    background: #d9f1e3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    cursor: pointer;
    text-align: center;
    padding: 0 10px;
    fill: #222;
}

.searchButton {
  width: 100px;
  height: 36px;
  border: 2px solid #00ad5f;
  background: #00ad5f;
  #background: url("../images/favicon.ico") no-repeat center;
  text-align: center;
  color: #fff;
  border-radius: 0 18px 18px 0;
  cursor: pointer;
  font-size: 15px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 40%;
    position: absolute;
    margin-top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../images/background.png");
}


#year-slider .slider-selection {
    background: #BABABA;
}

.time-taken {
    background-color: rgba(255, 255, 255, 0.80);
    margin-bottom: 10px;
    padding: 1px;
}

ul li {
    display: inline;
}

.suggested-spelling {
    background: none !important;
    color: blue;
    border: none;
    padding: 0 !important;
    font: inherit;
    border-bottom: 1px solid #444;
    cursor: pointer;
}

.error-block {
    background-color: rgba(255, 255, 255, 0.90);
    margin: 10px;
    padding: 10px;
    margin: auto;
}

.suggested-corrections {
    background-color: rgba(255, 255, 255, 0.80);
    padding: 10px;
    margin: auto;
}

.search-filters {
    background-color: rgba(255, 255, 255, 0.90);
    min-height: 100%;
    margin-top: 15px;
    padding: 30px;
}

.search-result-item {
    background-color: rgba(255, 255, 255, 0.90);
    margin-top: 15px;
}

.suggested-crawl {
    background-color: rgba(255, 255, 255, 0.80);
    padding: 10px;
    margin: auto;
}

.movie-title {
    background: none !important;
    color: #333;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
}

.movie-title:hover {
    text-decoration: underline;
}

.DocumentList {
    overflow-x: scroll;
    height: 200px;
    width: 100%;
    padding: 0 15px;
}

.DocumentItem {
    padding: 0;
    height: 200px;
}

.list-inline {
    white-space: nowrap;
}

.recommendations {
    margin: 10px;
    padding: 10px;
    /*margin: 20 0 0 0px;*/
}

.pic_search {
    /*position: fixed;*/
    /*left: 50%;*/
    text-align: center;
}

.oumar_no h2 {
    background-color: white;
    color: red;

    margin-bottom: 10px;
    padding: 1px;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.navbar-custom {
    background-color: #00ad5f !important;
    font-size: 30px !important;
    color: #FFFFFF;
}


