
<!--<head>-->
<!--    {% load static %}-->
<!--    <title>iMovie</title>-->
<!--    <link rel="icon" href="{% static 'images/favicon.ico %}"  />-->
<!--&lt;!&ndash;电影图标&ndash;&gt;-->
<!--    &lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
<!--&lt;!&ndash;页眉的排版格式&ndash;&gt;-->
<!--</head>-->

<!--<style>-->
<!--    .navbar-brand>img {-->
<!--        display: inline;-->
<!--    }-->
<!--    body {-->
<!--      font-family: Arial Black, Gadget, sans-serif;-->
<!--      height: 100%;-->
<!--      background-size: cover;-->
<!--      background-attachment: fixed;-->
<!--      background-repeat: no-repeat;-->
<!--      background-position: center center;-->
<!--      background-image: url("../static/images/Searchs_130.jpg");-->
<!--    }-->
<!--</style>-->


<!--<header>-->
<!--&lt;!&ndash;设置页眉&ndash;&gt;-->
<!--  <nav class="navbar navbar-inverse navbar-fixed-top"> &lt;!&ndash; 设置nav元素为导航条组件；导航条组件为黑色主题；设置导航条组件固定在顶部&ndash;&gt;-->
<!--    <div class="container-fluid"> &lt;!&ndash; 图片自适应屏幕宽度-&ndash;&gt;-->
<!--      <div class="navbar-header"> &lt;!&ndash;指定div元素为导航条组件包裹品牌图标及切换按钮 -&ndash;&gt;-->
<!--        <a class="navbar-brand" href="http://127.0.0.1:8000"> &lt;!&ndash; 设置超链接&ndash;&gt;-->
<!--          <img alt="Movie Info Retrieval" src="{% static 'images/movie-ico.png' %}" width=20>&nbsp iMovie-->
<!--        </a>-->
<!--      </div>-->

<!--      <div class="collapse navbar-right navbar-collapse">&lt;!&ndash; 设置div元素为视口大于768px时显示；设置导航条内元素向右对齐；设置导航条组件固定在顶部&ndash;&gt;-->
<!--       <ul class="nav navbar-nav">&lt;!&ndash;设置ul为导航条组件内的列表元素;&ndash;&gt;-->
<!--         <li><a href="http://127.0.0.1:8000/">Search</a></li>-->
<!--       </ul>-->
<!--     </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</header>-->


