
<head>
    <style>
       body{
           text-align:center;
       }
       .fonction {
           position:middle;
           margin: 0 auto;
           padding: 10px;
           width: 300px;
           height: 150px;
           border: 1px solid black;
       }
       h1{
           font-family:Verdana,sans-serif;
       }
       h2{
           font-family:Verdana,sans-serif;
       }
       h3{
           font-family:Verdana,sans-serif;
       }
       p{
           align="justify";
       }
    </style>
</head>

<body>
    <h1>iMovie</h1>
    <h3>Feel free to search or classify a movie!</h3>
    <br>
    <div class="fonction" >
        <a href="search/index">Search</a>
        <p>Input some key words which can describe the movie, for example: name of the author...</p>
    </div>

    <div class="fonction">
        <a href="slassification/index">Classification</a>
        <p>To classifier the type of the movies.</p>
    </div>
</body>