{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block header %}
<header>
<!--设置页眉-->
  <nav class="navbar navbar-custom navbar-fixed-top"> <!-- 设置nav元素为导航条组件；导航条组件为黑色主题；设置导航条组件固定在顶部-->
    <div class="container-fluid"> <!-- 图片自适应屏幕宽度--->
      <div class="navbar-header"> <!--指定div元素为导航条组件包裹品牌图标及切换按钮 --->
        <a class="navbar-custom" href="http://127.0.0.1:8000"> <!-- 设置超链接-->
            &nbsp iMovie
        </a>
      </div>
    </div>
  </nav>
</header>
{% endblock %}

{% block content %}
    <form role="search" method="get" id="search_form" action="">
        <div class="search">
            <input name="search_text" type="search" class="searchTermH" placeholder="Discover a new?" required/>
            <button type="submit" class="searchButton" value="Search"/>Search</button>
        </div>
    </form>

<hr>

    <p>The most related {{ hits|length }} movies are in the list!</p>
<hr>
  <div class="col-lg-9">
    {% for hit in hits %}
    <div class="search-result-item">
      <div class="row">
        <div class="col-xs-2">
          <img alt="Poster not available" src="http://image.tmdb.org/t/p/w780/{{hit.poster_path }}" height="200px">
        </div>
        <div class="col-xs-9">
          <form action="/show" method="POST">
            {% csrf_token %}
            {% for genre in hit.genres %}
            <input type="hidden" value="{{hit.title}}" name="title"><span>{{genre.name}}</span>
            {% endfor %}
            <input type="hidden" value="{{hit.overview}}" name="overview">
            <input type="hidden" value="{{hit.poster_path}}" name="poster_path">
            <input type="hidden" value="{{hit.imdb_id}}" name="imdb_id">
<!--            <input type="hidden" value="{{ hit.title }}" name="movie-title"><span>{{hit.title}}</span>-->
            <h3 class="hit-title"><input type="hidden" value="{{ hit.title }}" name="movie-title"><span>{{hit.title}}</span></h3>

<!--          <h3 class="hit-title"><input type="submit" class="movie-title" value="{{ hit.title }}" ></h3>-->
          </form>
          <div class="row">
            <div class="col-xs-2">
              <h5 class="hit-voting"><b>Ratings: </b>{{ hit.vote_average }} </h5>
            </div>
            <div class="col-xs-7">
              <h5 class="hit-release_date"><b>Release date: </b>{{ hit.release_date }} </h5>
            </div>
          </div>
          <p class="hit-overview">{{ hit.overview }}</p>
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}

    </ul>
    </nav>
    </div>
  </div>
<hr>
{% endblock %}