{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
    <form role="search" method="get" id="search_form" action="">
      <input name="search_text" type="search" placeholder="Want a new one?" required/>
      <input type="submit" value="Search"/>
    </form>
<!--    <p>You searched for: <strong>{{ search_text }}</strong></p>-->
<!--    <p>Found {{ movies|length }} movies.</p>-->
<!--    <ul>-->
<!--        <li>{{movies}}</li>-->
<!--        <li>{{genre}}</li>-->
<!--        <li>{{overviews}}</li>-->
<!--    <p>77777</p>-->
  <div class="col-lg-9">
    {% for hit in hits %}
    <div class="search-result-item">
      <div class="row">
        <div class="col-xs-2">
          <img alt="Poster not available" src="http://image.tmdb.org/t/p/w780/{{hit.poster_path }}" height="200px">
        </div>
        <div class="col-xs-9">
          <form action="/show" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{hit.title}}" name="title"><span>{{hit.genres}}</span>
            <input type="hidden" value="{{hit.overview}}" name="overview">
            <input type="hidden" value="{{hit.poster_path}}" name="poster_path">
            <input type="hidden" value="{{hit.imdb_id}}" name="imdb_id">
<!--            <input type="hidden" value="{{ hit.title }}" name="movie-title"><span>{{hit.title}}</span>-->
            <h3 class="hit-title"><input type="hidden" value="{{ hit.title }}" name="movie-title"><span>{{hit.title}}</span></h3>

<!--          <h3 class="hit-title"><input type="submit" class="movie-title" value="{{ hit.title }}" ></h3>-->
          </form>
          <div class="row">
            <div class="col-xs-2">
              <h5 class="hit-voting"><b>Ratings: </b>{{ hit.vote_average }} </h5>
            </div>
            <div class="col-xs-7">
              <h5 class="hit-release_date"><b>Release date: </b>{{ hit.release_date }} </h5>
            </div>
          </div>
          <p class="hit-overview">{{ hit.overview }}</p>
        </div>
      </div>
    </div>
    {% endfor %}

    </ul>
    </nav>
    </div>
  </div>
<hr>
{% endblock %}