{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
<div class="classification-result">
    <h1>{{title}}</h1>
    <div class="row">
        <div class="col-md-3"><img alt="Poster not available" src="http://image.tmdb.org/t/p/w780/{{poster_path}}" height="350px"></div>
        <div class="col-md-9"><h1 align="center">{{title}}</h1>
            <div class="row">
                <div class="col-md-11"><p>{{overview}}</p></div>
            </div>
        </div>
    </div>
</div>
<div class="classification-recom">
<h3 class="recommendations"> Recommended films </h3>
<div class="DocumentList">
    <ul class="list-inline">
        {% for item in recommendations %}
        <li class="DocumentItem">
            <img alt="Poster not available" src="http://image.tmdb.org/t/p/w780/{{item.poster_path}}" height="200px">
        </li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock content %}